*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url('https://picsum.photos/1500/1500');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: autp;

}
.input{
  text-align: center;
  margin-top: 50px;
}
input[type="text"]
{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-style: italic;
  font-family: 'Ballet', cursive;
font-family: 'Dancing Script', cursive;
}
input[type="button"]
{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-style: italic;
}
.display{

  height: 400px;
  width: 270px;
  background-color: yellow;
  background-image: url('https://picsum.photos/250/400');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);


}
.temp{
  text-align: center;
  font-size: 80px;
  font-style: italic;
  margin-top: 50px;
  color:white;
  font-family: 'Ballet', cursive;
font-family: 'Dancing Script', cursive;
}
.desc{
  text-align: center;
  font-size: 80px;
  font-style: italic;
  margin-top: 50px;
  color:white;
  font-family: 'Ballet', cursive;
font-family: 'Dancing Script', cursive;

}
.footer{
  color: white;
  font-family: 'Ballet', cursive;
font-family: 'Dancing Script', cursive;
}
